In [2]:
def say_hello():
    print("Hello!")

In [3]:
say_hello()

Hello!

In [4]:
def say_something(something):
    print(something)

In [5]:
say_something("Thing")

Thing

In [6]:
words= "These are words my guy"
say_something(words)

These are words my guy

In [7]:
def passing_math_percent(pass_math_count,student_count):
    return pass_math_count/float(student_count)*100

In [10]:
passing_math_count = 29370
total_student_count = 39170

In [11]:
passing_math_percent(passing_math_count,total_student_count)

74.9808526933878

In [12]:
# A list of my grades.
my_grades = ['B', 'C', 'B' , 'D']

In [13]:
import pandas as pd
my_grades = pd.Series(my_grades)
my_grades

0    B
1    C
2    B
3    D
dtype: object

In [14]:
my_grades.map({"B":"A","C":"B","D":"C"})

0    A
1    B
2    A
3    C
dtype: object

In [16]:
my_grades = [92.34, 84.56, 86.78, 98.32]

for grade in my_grades:
    print("{:.0f}".format(grade))

92
85
87
98

In [17]:
# Convert the numerical grades to a Series.
my_grades = pd.Series([92.34, 84.56, 86.78, 78.32])
my_grades

0    92.34
1    84.56
2    86.78
3    78.32
dtype: float64

In [18]:
# Format the grades to the nearest whole number percent.
my_grades.map("{:.0f}".format)

0    92
1    85
2    87
3    78
dtype: object